.version.about_us /* version checker */
{
	color: #0000F2;
	background-color: #4F6CF6;
}

.html
{
	background-color: #F9FFE3;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 769.9999999999994px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -10px;
	padding-bottom: 1px;
	width: 0.01px;
}

#pu303-8
{
	width: 0.01px;
	margin-left: -55px;
}

#u303-8
{
	z-index: 3;
	margin-right: -10000px;
}

#buttonu646
{
	z-index: 45;
	width: 226px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 286px;
}

#buttonu646:hover
{
	width: 226px;
	min-height: 0px;
	margin: 108px -10000px 0px 0px;
}

#buttonu646.ButtonSelected
{
	width: 226px;
	min-height: 0px;
	margin: 108px -10000px 0px 0px;
}

#u647-4
{
	z-index: 46;
	width: 167px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 37px;
}

#buttonu646:hover #u647-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 167px;
	margin: 8px -10000px 0px 0px;
}

#buttonu648
{
	z-index: 50;
	width: 233px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 521px;
}

#buttonu648:hover
{
	width: 233px;
	min-height: 0px;
	margin: 108px -10000px 0px 0px;
}

#buttonu648.ButtonSelected
{
	width: 233px;
	min-height: 0px;
	margin: 108px -10000px 0px 0px;
}

#u649-4
{
	z-index: 51;
	width: 199px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 11px;
}

#buttonu648:hover #u649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 199px;
	margin: 8px -10000px 0px 0px;
}

#buttonu650
{
	z-index: 55;
	width: 232px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 107px;
	left: 760px;
}

#buttonu650:hover
{
	width: 232px;
	min-height: 0px;
	margin: 107px -10000px 0px 0px;
}

#buttonu650.ButtonSelected
{
	width: 232px;
	min-height: 0px;
	margin: 107px -10000px 0px 0px;
}

#u651-4
{
	z-index: 56;
	width: 209px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 13px;
}

#buttonu650:hover #u651-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 209px;
	margin: 8px -10000px 0px 0px;
}

#buttonu652
{
	z-index: 60;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 107px;
	left: 57px;
}

#buttonu652:hover
{
	width: 222px;
	min-height: 0px;
	margin: 107px -10000px 0px 0px;
}

#buttonu652.ButtonSelected
{
	width: 222px;
	min-height: 0px;
	margin: 107px -10000px 0px 0px;
}

#u653-4
{
	z-index: 61;
	width: 217px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 5px;
}

#buttonu652:hover #u653-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 217px;
	margin: 8px -10000px 0px 0px;
}

#pu386-23
{
	width: 0.01px;
	margin-top: 26px;
}

#u386-23
{
	z-index: 66;
	width: 443px;
	min-height: 364px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u386-2,#u386-16
{
	font-size: 30px;
	line-height: 36px;
	color: #824848;
}

#u386-5,#u386-6,#u386-8,#u386-10,#u386-11,#u386-13,#u386-19,#u386-21
{
	text-align: justify;
}

#u387
{
	z-index: 89;
	width: 527px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 464px;
}

#pbuttonu644
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 36px;
}

#buttonu644
{
	z-index: 40;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#buttonu644:hover
{
	width: 222px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu644.ButtonSelected
{
	width: 222px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u645-4
{
	z-index: 41;
	width: 217px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 5px;
}

#buttonu652.ButtonSelected #u653-4,#buttonu644:hover #u645-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 217px;
	margin: 8px -10000px 0px 0px;
}

#buttonu644.ButtonSelected #u645-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 217px;
	margin: 8px -10000px 0px 0px;
}

#buttonu638
{
	z-index: 25;
	width: 226px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 226px;
}

#buttonu638:hover
{
	width: 226px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#buttonu638.ButtonSelected
{
	width: 226px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u639-4
{
	z-index: 26;
	width: 167px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 37px;
}

#buttonu646.ButtonSelected #u647-4,#buttonu638:hover #u639-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 167px;
	margin: 8px -10000px 0px 0px;
}

#buttonu638.ButtonSelected #u639-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 167px;
	margin: 8px -10000px 0px 0px;
}

#buttonu640
{
	z-index: 30;
	width: 233px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 461px;
}

#buttonu640:hover
{
	width: 233px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#buttonu640.ButtonSelected
{
	width: 233px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u641-4
{
	z-index: 31;
	width: 199px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 11px;
}

#buttonu648.ButtonSelected #u649-4,#buttonu640:hover #u641-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 199px;
	margin: 8px -10000px 0px 0px;
}

#buttonu640.ButtonSelected #u641-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 199px;
	margin: 8px -10000px 0px 0px;
}

#buttonu642
{
	z-index: 35;
	width: 232px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 700px;
}

#buttonu642:hover
{
	width: 232px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu642.ButtonSelected
{
	width: 232px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u643-4
{
	z-index: 36;
	width: 209px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 13px;
}

#buttonu650.ButtonSelected #u651-4,#buttonu642:hover #u643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 209px;
	margin: 8px -10000px 0px 0px;
}

#buttonu642.ButtonSelected #u643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 209px;
	margin: 8px -10000px 0px 0px;
}

#pu959
{
	width: 0.01px;
	margin-left: -101px;
	margin-top: 5px;
}

#u959
{
	z-index: 2;
	width: 1165px;
	padding-bottom: 35px;
	margin-right: -10000px;
}

#u352-13
{
	z-index: 11;
	width: 948px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 122px;
}

#u370
{
	z-index: 24;
	width: 217px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 755px;
}

#u960
{
	z-index: 65;
	width: 281px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 161px;
}

body
{
	position: relative;
	min-width: 960px;
}

