#u303-8
{
	display: block;
	vertical-align: top;
	position: relative;
}

#buttonu646
{
	border-color: #787878;
	background-color: #824848;
	border-radius: 10px;
	position: relative;
}

#buttonu646:hover
{
	background-color: #545454;
}

#u647-4
{
	background-color: transparent;
	line-height: 29px;
	color: #3C3C3C;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu646:hover #u647-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu648
{
	border-color: #787878;
	background-color: #824848;
	border-radius: 10px;
	position: relative;
}

#buttonu648:hover
{
	background-color: #545454;
}

#u649-4
{
	background-color: transparent;
	line-height: 29px;
	color: #3C3C3C;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu648:hover #u649-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu650
{
	border-color: #787878;
	background-color: #824848;
	border-radius: 10px;
	position: relative;
}

#buttonu650:hover
{
	background-color: #545454;
}

#u651-4
{
	background-color: transparent;
	line-height: 29px;
	color: #3C3C3C;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu650:hover #u651-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu652
{
	border-color: #787878;
	background-color: #824848;
	border-radius: 10px;
	position: relative;
}

#buttonu652:hover
{
	background-color: #7F7F7F;
}

#u653-4
{
	background-color: transparent;
	line-height: 34px;
	color: #3C3C3C;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu652:hover #u653-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu644
{
	border-color: #787878;
	background-color: #824848;
	border-radius: 10px;
	position: relative;
}

#buttonu644:hover
{
	background-color: #7F7F7F;
}

#u645-4
{
	background-color: transparent;
	line-height: 34px;
	color: #3C3C3C;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu644:hover #u645-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu638
{
	border-color: #787878;
	background-color: #824848;
	border-radius: 10px;
	position: relative;
}

#buttonu638:hover
{
	background-color: #545454;
}

#u639-4
{
	background-color: transparent;
	line-height: 29px;
	color: #3C3C3C;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu638:hover #u639-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu640
{
	border-color: #787878;
	background-color: #824848;
	border-radius: 10px;
	position: relative;
}

#buttonu640:hover
{
	background-color: #545454;
}

#u641-4
{
	background-color: transparent;
	line-height: 29px;
	color: #3C3C3C;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu640:hover #u641-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu642
{
	border-color: #787878;
	background-color: #824848;
	border-radius: 10px;
	position: relative;
}

#buttonu642:hover
{
	background-color: #545454;
}

#buttonu646.ButtonSelected,#buttonu648.ButtonSelected,#buttonu650.ButtonSelected,#buttonu652.ButtonSelected,#buttonu644.ButtonSelected,#buttonu638.ButtonSelected,#buttonu640.ButtonSelected,#buttonu642.ButtonSelected
{
	background-color: #824848;
}

#u643-4
{
	background-color: transparent;
	line-height: 29px;
	color: #3C3C3C;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu642:hover #u643-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu646.ButtonSelected #u647-4 p,#buttonu648.ButtonSelected #u649-4 p,#buttonu650.ButtonSelected #u651-4 p,#buttonu652.ButtonSelected #u653-4 p,#buttonu644.ButtonSelected #u645-4 p,#buttonu638.ButtonSelected #u639-4 p,#buttonu640.ButtonSelected #u641-4 p,#buttonu642.ButtonSelected #u643-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}

#u959
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u352-13
{
	background-color: transparent;
	position: relative;
}

#u352-2,#u352-3,#u352-5,#u352-7,#u352-9
{
	font-size: 14px;
	text-align: center;
	color: #505546;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u352-10
{
	font-size: 14px;
	color: #94C8A1;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u352-11
{
	color: #94C8A1;
}

#u370,#u960
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

